{% extends 'base.html' %}

{% block content %}

    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            {% if selected %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ selected.image }}" class="card-img-top">
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="title">{{ selected.title }}</h5>
                            <p class="tag">{{ movie.tags }}</p>
                            <p class="score">{{ selected.score }}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="desc">{{ selected.desc }}</p>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>         
    </div>
        <!-- 리뷰 작성하기 -->
    <div>
        <a type="submit" href="/detail/post/{{ movie.id }}" class="btn btn-primary">리뷰 작성하기</a>
    </div>
        <!-- 추천된 영화가 나오는 곳 -->
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            {% if movies and recommend %}
            {% for movie in recommend %}
                <form action="/detail/{{ movie.id }}" method="get">
                <div class="col">
                    <div class="card h-100">
                        <a href="/detail/{{ movie.id }}">
                        <img src="{{ movie.image }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">{{ movie.title }}</h5>
                            <p class="tag">{{ movie.tags }}</p>
                            <p class="score">{{ movie.score }}</p>
                        </div>
                        </a>
                    </div>
                </div>
                </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{%  endblock %}