{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="home" href="http://127.0.0.1:8000/">All</a>
        </li>
        <li class="nav-item">
            <form class="nav-link" id="tag1" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Adventure" onclick="clickTag()"/>
                <button type="submit" style="border: none; background-color: transparent;">Adventure</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Fantasy"/>
                <button type="submit" style="border: none; background-color: transparent;">Fantasy</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Animation"/>
                <button type="submit" style="border: none; background-color: transparent;">Animation</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Drama"/>
                <button type="submit" style="border: none; background-color: transparent;">Drama</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Horror"/>
                <button type="submit" style="border: none; background-color: transparent;">Horror</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Action"/>
                <button type="submit" style="border: none; background-color: transparent;">Action</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Comedy"/>
                <button type="submit" style="border: none; background-color: transparent;">Comedy</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="History"/>
                <button type="submit" style="border: none; background-color: transparent;">History</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Western"/>
                <button type="submit" style="border: none; background-color: transparent;">Western</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Thriller"/>
                <button type="submit" style="border: none; background-color: transparent;">Thriller</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Crime"/>
                <button type="submit" style="border: none; background-color: transparent;">Crime</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Documentary"/>
                <button type="submit" style="border: none; background-color: transparent;">Documentary</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Science Fiction"/>
                <button type="submit" style="border: none; background-color: transparent;">Science Fiction</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Mystery"/>
                <button type="submit" style="border: none; background-color: transparent;">Mystery</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Music"/>
                <button type="submit" style="border: none; background-color: transparent;">Music</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Romance"/>
                <button type="submit" style="border: none; background-color: transparent;">Romance</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="Family"/>
                <button type="submit" style="border: none; background-color: transparent;">Family</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="War"/>
                <button type="submit" style="border: none; background-color: transparent;">War</button>
            </form>
        </li>
        <li class="nav-item">
            <form class="nav-link" action="/tagging/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tag" value="TV Movie"/>
                <button type="submit" style="border: none; background-color: transparent;">TV Movie</button>
            </form>
        </li>
    </ul>
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            {% if movies %}
            {% for movie in movies %}
                <form action="/detail/{{ movie.id }}/">
                    <div class="col">
                        <div class="card h-100">
                            <a href="/detail/{{ movie.id }}/">
                            <img src="{{ movie.image }}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="title">{{ movie.title }}</h5>
                                <p class="tag">{{ movie.tags }}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block style %}
    .mycards {
        margin: 20px auto 0px auto;
        width: 60%;
        max-width: 1600px;
        }
    a {
        text-decoration: none;
        color: black;
    }
    .tag {
        font-size: 12px;
        -webkit-line-clamp: 3;
    }
    .title {
        font-weight: 700;
        text-align: center;
    }
{% endblock %}}

