{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="all" href="http://127.0.0.1:8000/">All</a>
        </li>
        {% for tag in tag_all %}
            <li class="nav-item">
                <a class="nav-link" id="{{ tag.id }}" href="/tag/{{ tag }}/">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            {% if movies %}
            {% for movie in movies %}
                <form action="/detail/{{ movie.id }}/">
                    <div class="col">
                        <div class="card h-100">
                            <a href="/detail/{{ movie.id }}/">
                            <img src="{{ movie.image }}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="title">{{ movie.title }}</h5>
                                <p class="tag">{{ movie.tags }}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block style %}
    .mycards {
        margin: 20px auto 0px auto;
        width: 60%;
        max-width: 1600px;
        }
    a {
        text-decoration: none;
        color: black;
    }
    .tag {
        font-size: 12px;
        -webkit-line-clamp: 3;
    }
    .title {
        font-weight: 700;
        text-align: center;
    }
{% endblock %}

{% block script %}
    var aTags = document.getElementById('{{ tag.id }}')
    var tag = aTags.innerText

    var all = document.getElementById('all')
    
    var searchText = "{{ tag }}";

    if (tag == searchText) {
        aTags.classList.toggle('active')
        all.classList.toggle('active')
    } else {
        all.classList.toggle('active')
    }
{% endblock %}
